/* Нормализация стилей */
body {
    margin:0;
}
header {
    margin:0;
}
ul {
    list-style:none;
    margin:0;
    padding:0;
}
a {
text-decoration: none;
}
/*Нормализация стилей */
@font-face {
    font-family:'TT Lakes';
    src: url('./fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family:'TT Lakes';
    src: url('./fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'TT Lakes';
    src: url('./fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: medium;
}
.body {
    font-family: 'TT Lakes';
}
.header__button-burger {
    background: url(./icons/exit-burger.svg) no-repeat center;
    z-index: 2;
}
.header__button-search {
    background: url(./icons/lupa2.svg) no-repeat center;
    z-index: 2;
}
.header__button,.menu__button {
    background-color:#FF3E79;
    width:40px;
    height:40px;
    border-radius:50%;
    border: none;
}
.header {
    display:flex;
    justify-content: space-between;
    height:86px;
    align-items: center;
    padding:0px 24px;
    font-family: 'TT Lakes';
}
.header__button-exit-wrapper {
    display:flex;
    gap:17px;
    align-items: center;
}
.menu {
    min-height:1024px;
    width:320px;
    height:100vh;
    font-style: medium;
    font-weight: 500;
    box-shadow:10px 0 50px -10px rgb(159, 174, 189);
    
    position: fixed;
    top: 0; 
    left: 0; 

}
.active {
    color:#7E7E82;
}
.active::before {
    content: "";
    position: absolute;
    width:8px;
    height:32px;
    background-color:#41F6D7;
    top:138px;
    left:-4px;
    border-radius:4px;
}
.menu__button-item {
    width:222px;
    box-sizing:border-box;
    padding:10px 0;
    padding-left: 24px;
    background-color:white;
    border:none;
    text-align:left;
    line-height: 24px;
    font-style: medium;
    letter-spacing: -0.2px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'TT Lakes';
    margin-bottom:10px;
}
.menu__contacts {
    display:flex;
    padding-right:140px;
    margin-left:24px;
    justify-content: space-between;
    margin-bottom:16px;
}

.menu__button-tele {
    background-image: url(./icons/tele.svg);
    background-repeat: no-repeat;
    background-position:  center;
    z-index: 1;
}
.menu__button-message {
    background-image: url(./icons/message.svg);
    background-repeat:no-repeat;
    background-position:  center;
    z-index: 1;
}
.menu__button-contacts {
    background-image: url(./icons/human.svg);
    background-repeat: no-repeat;
    background-position:  center;
    z-index: 1;
}
.menu__email {
    line-height:24px;
    font-size:16px;
    letter-spacing:-0.2px;
    color:#1B1C21;
    margin-left:24px;

}
.menu__email-wrapper{
    margin-bottom:12px;
}
.menu__number {
    font-weight: bold;
    letter-spacing: -0.6px;
    line-height: 32px;
    font-size:24px;
    color:#1B1C21;
    margin-left: 24px; 
}
.menu__number-wrapper{
    margin-bottom:40px;
}
.menu__language {
    display:flex;
    margin-right:180px;
    margin-left:24px;
    justify-content: flex-start;
    gap:7px;
    line-height: 24px;
    font-size:16px;
    letter-spacing: -0.2px;
    color:#1B1C21;
    margin-bottom:32px;
   
}
.menu__language-item {
    margin:0;
}
.menu__active-language {
    color:#7E7E82;
}
.menu__list {
    margin-top:46px;
    margin-bottom:235px;
}
.menu__button-item:hover{
    background-color:#d9eff391;
    transition: background-color 0.5s;
    
}
.menu__button:hover, .header__button:hover {
    background-color:#b449ad;
    transition: background-color 1s; 
}
